mode: standalone

replicas: 1

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 1Gi

persistence:
  enabled: true
  storageClass: local-path
  size: 500Gi

service:
  type: ClusterIP
  port: "9000"

consoleService:
  type: ClusterIP
  port: "9001"

ingress:
  enabled: true
  hosts:
    - minio-api.revelly.io
  path: /
  pathType: Prefix

consoleIngress:
  enabled: true
  hosts:
    - minio.revelly.io
  path: /
  pathType: Prefix
